* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: burlywood;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  opacity: 0;
}

main {
  background: rgba(255, 165, 0, 0.73);
}

button {
  font-size: 20px;
  background: rgb(85, 123, 129);
  text-align: center;
}
section {
  background: blue;
  margin: 15px 20px 30px 17px;
  padding: 40px;
}

input {
  resize: horizontal;
  width: 80px;
  height: 30px;
  text-align: center;
}

#btnSize {
  padding: 10px;
}
#tt {
  margin-right: 20px;
}
#btnSum {
  padding-left: 34px;
}
.tot {
  align-items: center;
}
